@import "~react-image-gallery/styles/css/image-gallery.css";
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Biến */
:root {
    --color-info: #0dcaf0;
    --color-primary: #fe6433;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.info {
    color: var(--color-info);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* CSS sản phẩm HOME*/
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: #fe6433;
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: black;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__origin-name {
    margin-left: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: #fe6433;
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span {
    color: white;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    color: white;
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 4px;
}

.home-product-item__sale-off-label {
    color: white;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 3px;
    font-weight: 600;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
}

/* PHÂN TRANG */
.paginationBttns {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
    margin-bottom: 25px;
}

/* .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
} */

.paginationBttns a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
    transition: color 0.5s, background-color 0.56s;
}
 
.pageLinkClassName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    text-decoration: none;
    margin: 0 10px 20px 0;
    color: black;
    background-color: #e9ecef;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-weight: 600;
}

.paginationActive a {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.paginationDisabled a {
    /* display: none; */
}

.previousBttn {
    position: absolute;
    top: 10px;
    left: 140px;
    color: black;
    background-color: white;
    border: none;
   font-size: 16px;
   width: 90px;
   line-height: 1.8rem;
   text-align: center;
   letter-spacing: 2px;
   font-weight: 600;
}

.nextBttn {
    position: absolute;
    top: 10px;
    right: 140px;
    color: black;
    background-color: white;
    border: none;
   font-size: 16px;
   width: 60px;
   line-height: 1.8rem;
   text-align: center;
   letter-spacing: 2px;
   font-weight: 600;
}

/* Login login register */
@keyframes main {
    0% {
        height: 100%;
    }
    100% {
        height: 55%;
    }
}

@keyframes cancel {
    0% {
        opacity: 0;
        transform: rotate(-190deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

/* TOAST */
#showToast {
    visibility: visible;
    animation: slideInLeft ease .3s, fadeOut linear 1s 2s forwards;

}

#hideToast {
    visibility: hidden;
}

@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fadeOut {
    to {
      opacity: 0;
    }
}